### Integrated CA 2

#### Libraries

In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Employee_Attrition.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.920786,Yes,Travel_Rarely,990.110009,Sales,1.016716,1.770313,Life Sciences,1.033298,1.054148,...,1.012832,95.612654,0.000000,8.063833,0.000000,1.052104,5.795945,3.993896,0.000000,4.594972
1,51.589037,No,Travel_Frequently,276.776030,Research & Development,NaN,1.035333,Life Sciences,0.944859,2.107031,...,4.312008,85.370868,1.104642,8.965059,3.264952,2.526470,10.070232,7.937505,1.032295,5.901207
2,33.131540,Yes,Travel_Rarely,1204.158501,Research & Development,2.198662,2.118801,Other,0.810809,4.008125,...,2.332558,76.248084,0.000000,8.427238,3.004521,2.924784,0.000000,0.000000,0.000000,0.000000
3,34.707073,No,Travel_Frequently,1352.752432,Sales,2.937851,3.670674,Life Sciences,0.822976,4.587269,...,3.029591,75.888697,0.000000,7.662606,2.856001,3.117053,8.435324,5.563667,2.845429,0.000000
4,24.790188,No,Travel_Rarely,485.053333,Research & Development,1.988953,1.120496,Medical,NaN,7.228740,...,NaN,72.670937,0.953012,6.241733,2.814719,3.112317,2.040124,1.970786,2.495949,2.219353

In [4]:
df.shape

(1470, 35)

In [5]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,...,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000,1323.000000
mean,36.635268,802.030050,9.091097,2.923447,0.999325,1026.679166,2.726443,65.647722,2.743028,2.058270,...,2.720431,80.241313,0.814757,11.426152,2.811756,2.762825,6.933624,4.233363,2.160710,4.117695
std,9.882161,414.031025,8.177870,1.072203,0.099656,610.480802,1.129679,21.469709,0.765568,1.127018,...,1.115959,8.022535,0.863076,8.075870,1.329044,0.761802,6.046798,3.658111,3.221481,3.594053
min,14.544608,86.828045,0.750112,0.770362,0.628985,1.054148,0.759655,23.855272,0.722008,0.715172,...,0.720696,53.793059,0.000000,0.000000,0.000000,0.799138,0.000000,0.000000,0.000000,0.000000
25%,29.624982,456.479553,2.147069,2.122706,0.931146,501.854842,1.894818,47.701897,2.177638,1.045228,...,1.909010,74.882946,0.000000,5.953221,1.967328,2.193390,2.673269,1.824392,0.000000,1.687177
50%,34.951950,782.958705,6.920808,3.015658,0.998949,1022.025017,2.887313,64.934490,2.859143,1.936150,...,2.891235,80.351400,0.913651,9.306742,2.690934,2.899807,5.422160,2.968874,0.967140,2.939240
75%,42.748741,1130.577949,13.584900,3.700560,1.067371,1533.811096,3.676600,83.038355,3.179128,2.609707,...,3.639961,85.664169,1.082523,15.324548,3.366949,3.206117,9.238005,7.052591,2.586631,6.987964
max,69.402515,1784.394456,33.684424,6.285161,1.290613,2530.919375,5.254672,123.200439,5.241968,5.942269,...,5.092280,107.378705,3.474319,47.641892,7.503201,4.856086,36.848408,19.091844,17.273662,19.976003

In [11]:
df.describe(include="object").T

               count unique                     top  freq
Attrition       1323      2                      No  1065
BusinessTravel  1323      3           Travel_Rarely   890
Department      1323      3  Research & Development   824
EducationField  1323      6           Life Sciences   504
Gender          1323      2                    Male   783
JobRole         1323      9         Sales Executive   281
MaritalStatus   1323      3                 Married   596
Over18          1323      1                       Y  1323
OverTime        1323      2                      No   929

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1323 non-null   float64
 1   Attrition                 1323 non-null   object
 2   BusinessTravel            1323 non-null   object
 3   DailyRate                 1323 non-null   float64
 4   Department                1323 non-null   object
 5   DistanceFromHome          1323 non-null   float64
 6   Education                 1323 non-null   float64
 7   EducationField            1323 non-null   object
 8   EmployeeCount             1323 non-null   float64
 9   EmployeeNumber            1323 non-null   float64
 10  EnvironmentSatisfaction   1323 non-null   float64
 11  Gender                    1323 non-null   object
 12  HourlyRate                1323 non-null   float64
 13  JobInvolvement            1323 non-null   float64
 14  JobLevel                  1323 non-null   float64
 15  JobRole                   1323 non-null   object
 16  JobSatisfaction           1323 non-null   float64
 17  MaritalStatus             1323 non-null   object
 18  MonthlyIncome             1323 non-null   float64
 19  MonthlyRate               1323 non-null   float64
 20  NumCompaniesWorked        1323 non-null   float64
 21  Over18                    1323 non-null   object
 22  OverTime                  1323 non-null   object
 23  PercentSalaryHike         1323 non-null   float64
 24  PerformanceRating         1323 non-null   float64
 25  RelationshipSatisfaction  1323 non-null   float64
 26  StandardHours             1323 non-null   float64
 27  StockOptionLevel          1323 non-null   float64
 28  TotalWorkingYears         1323 non-null   float64
 29  TrainingTimesLastYear     1323 non-null   float64
 30  WorkLifeBalance           1323 non-null   float64
 31  YearsAtCompany            1323 non-null   float64
 32  YearsInCurrentRole        1323 non-null   float64
 33  YearsSinceLastPromotion   1323 non-null   float64
 34  YearsWithCurrManager      1323 non-null   float64
dtypes: float64(26), object(9)
memory usage: 402.1+ KB

In [7]:
df.isnull().sum()

Age                         147
Attrition                   147
BusinessTravel              147
DailyRate                   147
Department                  147
DistanceFromHome            147
Education                   147
EducationField              147
EmployeeCount               147
EmployeeNumber              147
EnvironmentSatisfaction     147
Gender                      147
HourlyRate                  147
JobInvolvement              147
JobLevel                    147
JobRole                     147
JobSatisfaction             147
MaritalStatus               147
MonthlyIncome               147
MonthlyRate                 147
NumCompaniesWorked          147
Over18                      147
OverTime                    147
PercentSalaryHike           147
PerformanceRating           147
RelationshipSatisfaction    147
StandardHours               147
StockOptionLevel            147
TotalWorkingYears           147
TrainingTimesLastYear       147
WorkLifeBalance             147
YearsAtCompany              147
YearsInCurrentRole          147
YearsSinceLastPromotion     147
YearsWithCurrManager        147
dtype: int64

In [8]:
# missing data seems like 10 random data points from each column?
df.isnull().head(40)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
6,False,True,True,False,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,False,False
7,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
10,True,False,False,False,True,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
11,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,False,False
12,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
13,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,True,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,True,False,False,True,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,True
20,False,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
21,False,False,False,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,True,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
25,True,False,False,False,True,False,False,True,False,False,...,False,False,False,False,True,False,True,False,False,True
26,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
29,False,True,False,False,False,False,False,True,True,False,...,False,False,False,True,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
31,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39,False,False,True,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False